<main>
    <div class="page-header">
        <div>
            <h1>Agriculture Analytics Dashboard</h1>
            <small>Monitoring of environmental indicators in agriculture</small>    
        </div>
    </div>
    <div class="cards">
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <span>Temperature</span>
                        <small>Average temperature of environmental</small>
                    </div>
                    <h2>35C</h2>
                </div>
                <div class="card-chart red">
                    <span class="las la-temperature-low"></span>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head ">
                        <span>Soil Moisture</span>
                        <small>Average soil moisture of environmental</small>
                    </div>
                    <h2>20%</h2>
                </div>
                <div class="card-chart blue">
                    <span class="las la-tint"></span>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div class="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <span>CO2 Concentration</span>
                        <small>Average CO2 concentration of environmental</small>
                    </div>
                    <h2><span>40%</span></h2>
                </div>
                <div class="card-chart yellow">
                    <span class="las la-leaf"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-grid">
        <div class="analytics-card">
            <div class="analytics-head">
                <h3>Analytics infomations</h3>
                <span class="las la-ellipsis-h"></span>
            </div>
            <div class="analytics-chart">
                <div class="chart-circle">
                    <h1>75%</h1>
                </div>
                <div class="analytics-note">
                    <span>The quality of the plant's habitat is okay</span>
                </div>
            </div>
            <div class="analytics-btn">
                <button>Detail Report</button>
            </div>
        </div>
        <div class="history">
            <div class="history-head-flex">
                <h3>History</h3>
                <a href="/generality/history">
                    <small>See all the history 
                        <span class="las la-arrow-right"></span>
                    </small>
                </a>
            </div>
            <div class="table-responsive">
                <table>
                    <tbody>
                        <div>
                            <tr>
                                <td class="td-head">
                                    <div class="tr-head">Date</div>
                                </td>
                                <td class="td-head"><div class="tr-head">Time</div></td>
                                <td class="td-head"><div class="tr-head"><p>Temperature</p></div></td>
                                <td class="td-head"><div class="tr-head"><p>Soil Moiture</p></div></td>
                                <td class="td-head"><div class="tr-head"><p>CO2 Connectration</p></div></td>
                            </tr>
                        </div>
                        <div>
                                <tr>
                                    <td class="td-info"><div class="tr-info"><p>{{this.date}}</p></div></td>
                                    <td class="td-info"><div class="tr-info"><p>{{this.time}}</p></div></td>
                                    <td class="td-info"><div class="tr-info"><p>{{this.data.temperature.value}}</p></div></td>
                                    <td class="td-info"><div class="tr-info"><p>{{this.data.oil.value}}</p></div></td>
                                    <td class="td-info"><div class="tr-info"><p>{{this.data.co2.value}}</p></div></td>
                                </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>